.libs/
.deps/
.vscode/
m4/

mdate-sh
stamp-vti
Makefile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
configure~

*.o
*.so*
*.a
*.la*
*.info
*.ln
*.in
*.cache
*.tex
*.texi
*.m4
compile
*.guess
*.log
*.status
*.sub
*.lo

schannel_keygen
schannel_nc

realm_server

*.key
*.pub
